[Desktop Entry]
Type=Application
Name=Chiroptera
Comment=A sleek, customizable desktop shell crafted for Wayland.
Exec=chiroptera --daemon
Icon=chiroptera
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=false
Actions=Settings;
Keywords=desktop;shell;wayland;

[Desktop Action Settings]
Name=Open Settings
Exec=sh -c "chiroptera msg settings-open || { chiroptera --daemon && chiroptera msg settings-open; }"
